.table{
  height: 30px;
  background-color: lightgray;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-left: 10px
}

.table2{
  height: 50px;
  background-color: lightgray;
  display: flex;
  padding-left: 10px;
  align-items: center;

  
}